<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="CWDT4ALK8BMEN" />
<input type="hidden" name="item_name" value="Ohr haShem by Rabbi Hasdai Crescas (digital edition)" />
<input type="hidden" name="currency_code" value="USD" />
<input type="hidden" name="amount" value="15" />
<input type="image" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Yellow_PayPal_Pill_Button.png" alt="תרומה באמצעות לחצן PayPal" />
<img alt="" border="0" src="https://www.paypal.com/he_IL/i/scr/pixel.gif" width="1" height="1" />
<hr />
</form>
